---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Content } from "./info.mdx";
const title = "Info";
const meta = "عمر محمد Omar Mohammad designs, researches, and works with Afghan & Islamic culture: architecture, materials, symbols, technology, and love."
import image from "../../images/me.png"
---

<style>
  .md {
    margin: var(--m-1);
    max-width: var(--maxWidth);
  }

  /* :global(.md p) {
    line-height: 1.5;
    color: green; /* Applies green color to all p's */
  } */
</style>

<BaseLayout title={title} description={meta} image={image.src}>
  <div class="md">
    <Content />
  </div>
</BaseLayout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Select all anchor tags
    const anchorTags = document.querySelectorAll(".md a");
    anchorTags.forEach((anchor) => {
      const href = anchor.getAttribute("href");
      // Skip anchor links (e.g., href="#some-id")
      if (href) {
        anchor.setAttribute("target", "_blank");
        anchor.setAttribute("rel", "noopener noreferrer");
      }
    });
  });
</script>
