---
import { getCollection } from "astro:content";
import "../styles/global.css";

const allWork = await getCollection("work");

allWork.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime(); // Convert to timestamp
  const dateB = new Date(b.data.pubDate).getTime(); // Convert to timestamp

  return dateB - dateA; // Subtracting timestamps is valid
});
---

<style>
  div {
    margin: var(--m-1);
  }
</style>

<div>
  <ul>
    {
      allWork.map((post: any) => (
        <li>
          <a href={`/work/${post.id}/`}>
            {" "}
            {post.data.title}{" "}
            {post.data.tags.map((tag: any) => `[${tag}]`).join(" ")}{" "}
            {new Date(post.data.pubDate).getFullYear()}
          </a>
        </li>
      ))
    }
  </ul>
</div>
