---
import { getCollection } from "astro:content";
import "../styles/global.css";

type Post = {
  frontmatter: {
    pubDate: string; // Ensure pubDate is a string since it's parsed as a date
  };
};

const allWork = await getCollection("work");


allWork.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime(); // Convert to timestamp
  const dateB = new Date(b.data.pubDate).getTime(); // Convert to timestamp

  return dateB - dateA; // Subtracting timestamps is valid
});
---

<style>
  div {
    margin: var(--m-1);
    padding-top: 4px;
  }
  @media (max-width: 1172px) {
    div {
    padding-top: 0px;
  }
  }
</style>

<div>
  <ul>
    {
      allWork.map((post: any) => (
        <li>
          <a href={`/work/${post.id}/`}>
            {" "}
            {post.data.title}{" "}
            {post.data.tags.map((tag: any) => `[${tag}]`).join(" ")}{" "}
            {new Date(post.data.pubDate).getFullYear()}
          </a>
        </li>
      ))
    }
  </ul>
</div>
