---
import Analytics from "@vercel/analytics/astro";
import { SEO } from "astro-seo";
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";

const { title, description, image } = Astro.props;
const currentPath = Astro.url.pathname;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO
    title={`${title ? `${title} | ` : ""}Omar Mohammad`}
    description={description}
      openGraph={{
        basic: {
          title: title || "Omar Mohammad", // Ensure 'title' is always defined
          type: "article", // Always include a valid type
          image: image || "../images/me.png", // Provide a default image if missing
        },
        optional: {
          description: description,
          siteName: "omarmhmmd.com" + currentPath,
        },
      }}
      extend={{
        meta: [
          {
            name: "twitter:image",
            content: image,
          },
          { name: "twitter:title", content: `${title ? `${title} | ` : ""}Omar Mohammad` },
          { name: "twitter:description", content: description },
          { name: "twitter:card", content: "summary_large_image" },
        ],
      }}
    />
  </head>
  <body>
    <Navigation />
    <slot />
    <Analytics />
  </body>
</html>
