---
import Analytics from "@vercel/analytics/astro";
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <!-- SEO -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta property="description" content="Search engine description" />
    <title>{pageTitle}</title>
    <!-- End SEO -->
  </head>
  <body>
    <Navigation />
    <slot />
    <Analytics />
  </body>
</html>
